<!--<h1 mat-dialog-title style="color: royalblue;">AVISOS</h1>-->
<div mat-dialog-content>
    <div layout=”row”>
        <div flex>
            <!--<mat-icon style="font-size: 80pt; color:teal;padding: 0pt 380pt;">alarm_on</mat-icon>-->
            <br>
           
            A todo el personal del Instituto de Salud se les invita coordialmente a subir su expediente laboral a esta plataforma el cual debe de contar con los siguientes puntos:
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px">
                <div fxFlex="50" fxFlex.xs="100">
                    <ul>
                        <li>SOLICITUD DE EMPLEO CON FOTOGRAFÍA</li>
                        <li>FOTOGRAFÍA TAMAÑO INFANTIL B/N A COLOR EN PAPEL MATE, NO INSTANTÁNEA</li>
                        <li>CURRICULUM VITAE DEBIDAMENTE FIRMADO</li>
                        <li>CONSTANCIA DE NO INHABILITACIÓN (LA QUE CUENTE)</li>
                        <li>CONSTANCIA DE NO ANTECEDENTES PENALES (LA QUE CUENTE)</li>
                        <li>CERTIFICADO MÉDICO (NO EXPEDIDA POR CRUZ ROJA, ISSSTE, PARTICULARES E IMSS)</li>
                        <li>FORMATO DE PROTESTA</li>
                    </ul>
                </div>
                <div fxFlex="50" fxFlex.xs="100">
                    <ul>
                        <li>ACTA DE NACIMIENTO</li>
                        <li>CONSTANCIA DE SITUACIÓN FISCAL(RFC)</li>
                        <li>PRE Y LIBERACIÓN DE LA CARTILLA MILITAR</li>
                        <li>ULTIMO GRADO DE ESTUDIOS</li>
                        <li>COMPROBANTE DE DOMICILIO (2 MESES)  <b>ACTUALIZADA</b></li>
                        <li>CURP</li>
                        <li>CREDENCIAL DE ELECTOR <b>ACTUALIZADA</b></li>
                        <li>CUENTA Y CLAVE INTERBANCARIA (BANORTE Y/O BANCOMER)</li>
                    </ul>
                </div>
            </div>
            <b>Nota:</b> El tamaño máximo del archivo (archivo único) es de <b style="color:red;">6 mb</b>.<br><br>  
            <div style="text-align: justify;">
                Para subir tu expediente debes dar clic sobre el botón <img src="assets/btn-expediente.jpg"> dentro del sistema.<br>
            Solamente podrás subir tu archivo una sola vez por lo que deberá procurar sea correcto.
            <br><br>
           
            Para fines de consulta del registro de asistencia se requiere subir tu expediente a más tardar el día <b>Martes 30 de Noviembre del 2021.</b><br><br> 
            Cabe aclarar que los trabajadores que no lo suban, no serán acreedores a bloqueo por parte de nómina, estos documentos son única y exclusivamente para el buen funcionamiento del sistema, toda vez que en fechas próximas se agregaran trámites y servicios
            que se podrán realizar a través de esta plataforma.

            Para mayor información acercarse al área de recursos humanos que le corresponda.

            </div>
            
        </div>
    </div>        
    
</div>
