<!--<div fxLayout fxLayoutAlign="row" fxFlex="100">
    <section fxFlex="100">
        <div fxLayout="row wrap">
            <div fxFlex.xs="100">
                <div fxLayout="row">
                    <div fxFlex="30">
                        <img style="width:100%" src="assets/logo-estatal.svg" alt="Foto">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>-->
<!--<section>
    <div fxLayout fxLayoutAlign="center" fxFlex="100">
        <mat-card>
            <section fxFlex="100">
                <div fxLayout="row wrap">
                    <div fxFlex.xs="100">
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <img width="100" src="assets/logo-estatal.svg" alt="Foto">
                            </div>
                            <div fxFlex="50">
                                <img width="100" src="assets/Logo Salud Fed Horiz 2018-2024-01.png" alt="Foto">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </mat-card>
    </div>

</section>-->

<body background="assets/fondo.png">
    <section class="login">
        <div fxLayout fxLayoutAlign="center" fxFlex="100">
            <mat-card>
                <section fxLayout="column">
                    <section fxFlex="100">
                        <div fxLayout="row wrap">
                            <div fxFlex.xs="100">
                                <div fxLayout="row">
                                    <div fxFlex="50">
                                        <img width="100" src="assets/logo-estatal.svg" alt="Foto">
                                    </div>
                                    <div fxFlex="50" style="text-align: right;">
                                        <img width="100" src="assets/Logo Salud Fed Horiz 2018-2024-01.png" alt="Foto">
                                    </div>
                                </div>
                                <mat-card-title class="cabecera">
                                    <div fxLayout="row">
                                        <div fxFlex="100">
                                            <div style="font-size: 18pt; font-weight: bold; text-align: center; line-height: 30pt; margin-top: 20pt;">SECRETARIA DE SALUD<br> DEL ESTADO DE CHIAPAS</div>
                                        </div>
                                    </div>
                                </mat-card-title>
                                <div fxLayout="row">
                                    <div fxFlex="100">
                                        <img style="width:100%" src="{{imagenTrabajador}}" alt="Foto">
                                    </div>

                                </div>
                                <div fxLayout="row" style="padding: 5px 10px; font-size: 14pt;">
                                    <div fxFlex.xs="100">
                                        <b>{{ nombre_trabajador }}</b>
                                    </div>
                                </div>
                                <div fxLayout="row" style="padding: 5px 10px; font-size: 14pt;">
                                    <div fxFlex.xs="100">
                                        {{ cargo }}
                                    </div>
                                </div>

                                <div fxLayout="row" style="padding: 5px 10px; font-size: 14pt;">
                                    <div fxFlex.xs="100">
                                        INFORMATICA
                                    </div>
                                </div>
                                <div fxLayout="row" style="padding: 5px 10px; font-size: 14pt;">
                                    <div fxFlex.xs="100">
                                        OFICINA CENTRAL ADMINISTRATIVA
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </section>
            </mat-card>
        </div>

    </section>
</body>